#navbarUno{
    width: 100%;
    background-color: white;
}

#logo{
    width: 60px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    opacity: 1;   
}

#logo:hover{
    opacity: 0.5;
}


#contenidos{
    margin-left:300px;
}

#contenidos li{
    display: inline-block;
    
    color: #000000;
    text-decoration: none;
}

#contenidos li:hover{
    border-bottom: 2px solid #000000;
}

#Form{
    margin-left: 60px;
}

#searchlogo{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#logosCompra{
    width: 20px;
    height: 20px;
}

#heart{
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#bag{
    border-radius: 50px;
}