#jordan{
    height: 25px;
    width: 30px;
    position : absolute;
    left: 50px;
    top : 6px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#jordan:hover {
  opacity: 0.5;
  cursor: pointer;
}

#converse{
    height: 20px;
    width: 35px;
    position : absolute;
    left: 85px;
    top : 8px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#converse:hover {
  opacity: 0.5;
  cursor: pointer;
}



#barrita{
    top: 8px;
    position: relative;
    font-size: 12px;
}

.nav-link{
    color: black;
    font-size: 10px;
}

#navDiv{
    background-color: #f5f5f5;
    
}

#textoA{
    font-size: 12px;
    color: black;
    position: relative;
    top: 2px;
}

#textoA:hover{
    color: #b7b7b7;
}