#danza{
    text-align: center;
}

#titulo{
    font-family: 'Impact';
    font-size: 75px;
}

#subtitulo{
    font-size: 20px;
}

#button{
    margin: 5px;
    background-color: black;
    border-radius: 20px;
    opacity: 1;
}

#button:hover{
    opacity: 0.5;
}

#imgDanza{
    width: 100%;
    height: 100%;
    margin-top : 50px;
}